:root {
	--webheader_height: 6vw;
	--fontsize: 1vw;
	--textcolor1: rgb(60, 60, 60);
	--textcolor2: white;
	--boxShadow: 0 0 0.5vw 0 rgba(0, 0, 0, 0.2);
	--mygray: rgb(165, 165, 165);
}

$submit_color: #7efc65;
$submit1_color: #ff9645;